:root {
  --main-font-color: rgb(26,28,26);
  --main-font-color-2: rgb(26,28,26);
  /* --blue-font-color: #2e608b;
  --core-bg-color: #c9c5bd; */
  --main-bg-color: rgb(243,223,193);
  --core-box-color: #9e8a79;
}


.App {
  background-color: var(--main-bg-color);

  display:flex; 
  flex-direction:column;
  height:100vh;
}

.homepage-about {
  width: 50%;
}

body {
  background-color: var(--main-bg-color);
}

img {
  margin: auto;
  display: block;
}